@supports (animation-timeline: view()) {
	.vertical-cards-list {
		/* Single view-timeline for the entire list */
		view-timeline-name: --cards-element-scrolls-in-body;
	}

	.vertical-card {
		--index0: calc(var(--index) - 1);
		--reverse-index: calc(var(--numcards) - var(--index0));
		--reverse-index0: calc(var(--reverse-index) - 1);
	}

	@keyframes scale {
		to {
			transform: scale(calc(1.1 - calc(0.1 * var(--reverse-index))));
		}
	}

	.vertical-card__content {
		--start-range: calc(var(--index0) / var(--numcards) * 100%);
		--end-range: calc((var(--index)) / var(--numcards) * 100%);

		animation: linear scale forwards;
		animation-timeline: --cards-element-scrolls-in-body;
		animation-range: exit-crossing var(--start-range) exit-crossing var(--end-range);
	}
}
