.case-study-rotator.embla {
	margin: auto;

	--slide-spacing: 10px;
	--slide-size: 100%;

	@media (min-width: 1024px) {
		--slide-spacing: 5px;
		--slide-size: calc(100% - 300px);
	}

	.embla__viewport {
		overflow: hidden;
	}
	.embla__container {
		backface-visibility: hidden;
		display: flex;
		touch-action: pan-y pinch-zoom;
		margin-left: calc(var(--slide-spacing) * -1);
	}
	.embla__slide {
		flex: 0 0 var(--slide-size);
		min-width: 0;
		padding-left: var(--slide-spacing);
	}
}
